<html>
  <head>
     <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  </head>
  <body style="background:green">
    <div class="header">
       header
    </div>
    <div class="menu">
      {% rendersection menu %}
    </div>

    <div>
      {% rendersection sEdZvLH_3OVWQItAbmBsB %}
    </div>
    
    <div class="content">
      {% renderbody %}
    </div>
    
    <div class="footer">
      {% rendersection footer %}
    </div>
  </body>
  <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
  {% rendersection scripts %}
</html>